nav > ul > li {
    display: inline;
    margin: 50px;
}

a {
    text-decoration: none;
}

nav {
    text-align: center;
    font-size: larger;
    background-color: aquamarine;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
